@import "tailwindcss";

* {
  color: #fff;
}

body {
  background-color: #111;
}

#tasklist::-webkit-scrollbar {
  display: none;
}

#tasklis ::-webkit-scrollbar {
  display: none;
}

#task::-webkit-scrollbar {
  display: none;
}

.admin_tasks::-webkit-scrollbar {
  display: none;
}
